<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>The Secrets</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="fontawesome-free-6.4.0-web/css/all.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="css/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-social.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-5 mb-4 border-bottom bg-success"
      >
        <a
          href="#"
          class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
        >
          <img src="images/mybiz2.PNG" alt="logo" height="30px" width="30px" />
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <!-- <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li> -->
          <!-- <li><a href="#" class="nav-link px-2 link-dark">Blog</a></li> -->
          <li>
            <!-- <a href="/about" class="nav-link px-2 link-light">About</a> -->
          </li>
        </ul>

        <div class="col-md-3 text-end">
          <a
            name=""
            id=""
            class="btn btn-outline-primary text-white"
            href="/logout"
            role="button"
            >Sign Out</a
          >
          <!-- <button type="button" class="btn btn-outline-primary text-light me-2">
              Login
            </button> -->
          <!-- <a
            name=""
            id=""
            class="btn btn-primary"
            href="/register"
            role="button"
            >Register</a
          > -->
          <!-- <button type="button" class="btn btn-primary">Register</button> -->
        </div>
      </header>
    </div>
    <script src="css/js/bootstrap.min.js"></script>
    <script src="fontawesome-free-6.4.0-web/js/all.js"></script>
  </body>
</html>
