<%- include('partials/header') %>

<!-- <div class="jumbotron centered"> -->
<div class="container">
  <div class="row">
    <div class="col">
      <!-- <i class="fas fa-key fa-6x"></i> -->
      <i class="far fa-grin-wink fa-6x"></i>
      <h1 class="display-2">The Secrets</h1>
      <p class="display-5">
        The Secret is a fun web app that stores and displays users' secrets
        anonymously. A user registers and decides to share his or her secrets
        with other users. All shared secrets can be seen by all users of the
        application. Name of a user who share a secret will not be seen on the
        threads of secrets.
      </p>
      <hr />
    </div>
  </div>
</div>
<!-- </div> -->

<%- include('partials/footer') %>
