<!-- <% is used to close all place javaScript code is located -->
<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-fun fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <% UserWithSecrets.forEach(function(user){ %>
    <p class="secret-text"><%= user.secret%></p>
    <% }) %>

    <hr />

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit a Secret</a
    >
  </div>
</div>

<!-- This adds the footer found in the partials -->
<%- include('partials/footer') %>
